.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.title {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
}